graph {

}

node {
	size: 10px;
	fill-color: black;
	
	stroke-mode: plain; 
	stroke-color: #999; 
	shadow-mode: plain; 
	shadow-width: 0px; 
	shadow-color: #999; 
	shadow-offset: 3px, -3px;
}

node.feature {
	text-mode : normal;
	size-mode: fit;
	shape: rounded-box; 
	fill-color: white; 
	stroke-mode: plain;
}

node.complex {
	shape: box; 
	fill-color: white; 
	padding: 3px, 2px;
}

node.attribute {
	shape: circle; 
	fill-color: blue;
}

node.association {
	shape: circle;
	fill-color: yellow;
}

node.geometry {
	shape: diamond;
	fill-color: skyblue;
}

node.visible {
	text-mode : normal;
}

node.invisible {
	text-mode : hidden;
}

edge{
	text-mode : normal;
	text-alignment : under;
}

edge.association {
	stroke-mode : dots;
}
